{% extends 'base.html' %}

{% block content %}
<body id="browseBody">


<div class="booksContainer">
  <h1 style="color:black;font-family:Tahoma;border-left:7px solid #515fc8">My Books</h1>

   {% for x in borrowed %}
  <div class="book">
    <div class="icon">
      {% load static %}
      <img style="margin-top:40px;"src="{% static '/images/bookLogo.png' %}" alt="">
    </div>
    <div class="content">

      <form method="POST" action="{% url 'borrowedBooks' %}">
        {% csrf_token %}
      <h3 class="title" name="bookName">Book Name: &nbsp {{x.book.title}}</h3>
      <p><strong>Category:</strong>&nbsp {{x.book.category}}</p>
      <p><strong>PubYear:</strong>&nbsp {{x.book.pubYear}}</p>
      <p><strong>author:</strong>&nbsp {{x.book.author}}</p>
      <span name="val" value="{{x.book.ISBN}}"><strong>ISPN:</strong>&nbsp {{x.book.ISBN}}</span><br>
      <span ><strong> Date:</strong>&nbsp {{x.borrowStartDate}}</span><br>
      <span ><strong>Borrowed for:</strong>&nbsp {{x.borrowPeriod}} Days</span>
      <input class="" type="number" name="number" min="1" max="30" style="float:right;margin-top:px;margin-left:5px;height:35px;border:2px solid green;border-radius: 0.8em;text-align:center">
      <button style="width:60px;margin-left:10px;" type="submit" name="extend" class="borrow"  value="{{x.book.ISBN}}">Extend</button>

      <button style="width:60px;" type="submit" name="return" class="borrow" value="{{x.book.ISBN}}">Return</button>


      </form>
    </div>


  </div>

  {% endfor %}
  {% if count == 0 %}
  <script type="text/javascript">
      alert("anything")
  </script>
  {% endif %}

</div>
</body>
{% endblock %}
